.admin-page {
    background: url('../../../assets/images/home-pagev3.png') no-repeat center center fixed;
    background-size: 100% 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

p {
    color: red;
    font-size: 20px;
}
