#ignoring .vscode folder but we keep some files for debuging
/.vscode/chrome
/.vs/

package-lock.json
.DS_Store

# Code Coverage Folder
coverage/

#Node Modules
/node_modules

# Flutter build artifacts
/build/
**/*.dill


server/firebase-service-account.json
